.headerd{
	width:150rpx;
	height:150rpx;
	background-color: red;
	border-radius: 15rpx;
}
.bodadianhua{
	padding:5rpx 25rpx;
	background-color: #61C0AE;
	border-radius: 100rpx;
	color: white;
}
.guianbibtn{
	width: 150rpx;
	height: 50rpx;
	background-color: #61C0AE;
	border-radius: 20rpx;
	text-align: center;
	line-height: 50rpx;
	margin-top: 50rpx;
	color: white;
}