page {
	background-color: #f5f5f5;
}

.sousuoc {
	border-radius: 100rpx;
	background-color: white;
	padding: 5rpx 15rpx;
	font-size: 25rpx;
}

.shengshiqu {
	width: 150rpx;
	font-size: 30rpx;
	text-align: center;
}

.jiancaiview{
	margin-top: 10rpx;
	padding: 20rpx;
	border-bottom: 1px solid #c9c9c9;
	background-color: white;
	width: 710rpx;
	margin:10rpx 20rpx;
	border-radius: 10rpx;
	margin-bottom: 20rpx;
}