page{
	background-color: #EFEFEE;
}
.topimg{
	position: fixed;
	top: 0rpx;
	left: 0rpx;
	z-index: 1;
}
.topview{
	
	width: 750rpx;
	height: 667rpx;
	/* background-color: red; */
	z-index: 1000;
	background-image: url(http://shandongtibohui.zsyflive.com/profile/muyetong2/me-top.png);
	background-size: 100% 100%;
	
}
.headeim{
	width:154rpx;
	height: 154rpx;
	/* background-color: blue; */
	border-radius: 50%;
}
.bv1{
	/* height:100vh; */
	width: 750rpx;
	/* position: fixed; */
	/* top: 0rpx; */
	z-index: 1001;
}
.bottomview{
	/* position: absolute;
	top: 667rpx; */
	width: 750rpx;
	height: 850rpx;
	background-color:#EFEFEE;
	z-index: 1002;
	font-size: 30rpx;
	margin-top: -150rpx;
	
}
.caidanview{
	width: 685rpx;
	background-color: white;
	padding:59rpx 35rpx;
	border-radius: 30rpx;
}
.menuline1{
	height: 1rpx;
	width: 610rpx;
	margin:20rpx  0rpx 25rpx 0rpx;
	background-color: #EFEFEE;
}
.button1_sa{
	width: 100%;
	height: 200%;
	background-color: red;
	position: absolute;
	opacity: 0;
	top:0rpx;
	left: 0rpx;
}